extends ./layouts/common.pug

block content
	//- nav(class="navbar navbar-expand-lg navbar-light bg-light")
	//- 	a(class="navbar-brand", href="#")
	//- 		img(src="/images/logo.jpg",width="30", height="30", class="d-inline-block align-top", alt="")
	//- 	button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
	//- 		span(class="navbar-toggler-icon")
	//- 	div(class="collapse navbar-collapse", id="navbarNavAltMarkup")
	//- 		ul.navbar-nav.mr-auto.mt-2.mt-lg-0
	//- 			li.nav-item.active
	//- 				a.nav-link(href="#") Home
	//- 			li.nav-item
	//- 				a.nav-link(href="/users") Users
	//- 	form(class="form-inline my-2 my-lg-0")
	//- 		input(class="form-control mr-sm-2", type="search", placeholder="Search", aria-label="Search")
	//- 		button(class="btn btn-outline-success my-2 my-sm-0", type="submit") Search			
	h1 Hello #{name} !!!
	a(href="/users") User
